<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
     <link rel="icon" href="/assets/weather.png" />
    <title>About</title>
  </head>

  <body>
    <div class="main-content">
      {{>header}}
    <p>👋Hi, I am {{name}}</p>
    <img class="profile" src="/assets/profile.png" />
    </div>
     {{>footer}}
  </body>
</html>
